* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 3rem;
}

.content {
    display: flex;
    gap: 1rem;
    width: 100vw;
    padding-inline: 2rem;
}

input {
    flex: 2 1 100px;
    min-width: 0;
    font-size: 1.5rem;
    padding: 1rem;
}

select {
    flex: 1 1 0;
    min-width: 0;
    align-self: center;
    font-size: 1.25rem;
    padding: 0.75rem;
}

textarea {
    flex: 2 1 100px;
    min-width: 0;
    min-height: fit-content;
    max-height: fit-content;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
}

@media screen and (max-width: 768px) {
    .content {
        padding-inline: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .content {
        flex-direction: column;
        padding-inline: 0.5rem;
    }

    input {
        flex-basis: 60px;
        font-size: 1rem;
        padding: 0.5rem;
    }

    select {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    textarea {
        flex-basis: 60px;
        font-size: 1rem;
        padding: 0.5rem;
        min-height: revert;
        max-height: revert;
    }
}
